[2018-10-17 10:51] dipiana commented on #200
Oh that looks promising. I will try that asap.
Thanks a lot, @xavierfoucrier !

[2018-10-18 16:15] dipiana commented on #200
@xavierfoucrier , I tried it but can't make it work to fade from let's say green to a given value.
It always starts fading from black.
The problem is I can't find the "to" nor "easing" in the official documentation. Am I missing something?

Thanks a lot!

[2018-10-18 21:07] xavierfoucrier commented on #200
Hum.. well, it's because it was just **a proposal / idea** of the repository owner: it's not implemented yet, and that's why you can't make it work properly :wink:

I will try to write a code snippet tomorrow to help you find the best solution to create this fading effect.

Best regards!

[2018-10-19 10:32] xavierfoucrier commented on #200
Hi @dipiana!

Since it's not supported by the `Burst` module at this time, here is a small **workaround** that you can try to edit and adapt to your needs:

[code]

Note that I am not using the `pathScale` property because it creates a **jerk effect** between each step in this configuration, due to the random value.

Let met know if it work for you! :+1:

[2018-10-19 10:47] dipiana commented on #200
Thank you so much @xavierfoucrier  - I really appreciate it.
Unfortunately, I can not make it work for my example as I need to use burst and it seems that therefore the dots fade to zero before `.then()` is called.

See: https://codepen.io/clmsvie/pen/YJEXQO

I wanted to create a kind of fireworks.
All the dots should burst like in the first animation, starting from one solid color, let's say red.

[2018-10-25 21:30] peterennisrda opened #201 "mojs.io not working"
![capture394](https://user-images.githubusercontent.com/1280523/47531414-70765d00-d862-11e8-8d0e-90067442294b.PNG)

[2018-10-26 07:42] Tomarnst commented on #201
Yep seems to be so.... I'll think it's coming back to earlier mentions that this is not maintained anymore.

[2018-10-26 16:59] peterennis commented on #201
@legomushroom
If this is not maintained then it would be helpful to add a note to the repo and
possibly ask for someone to take over.

[2018-10-30 16:23] frederick036 commented on #201
You can build and serve it locally with the website repo here: https://github.com/legomushroom/mojs-website

[2018-11-02 02:47] stupidehorizon commented on #201
That's a bad news for a new user

[2018-11-02 08:59] Tomarnst commented on #201
@xavierfoucrier @legomushroom... any chance to start a pool of developers to get this going again ?

[2018-11-02 09:19] xavierfoucrier commented on #201
Hi all,

I sent a message to the repository owner.

It's bad news indeed to no longer have access to the site, but as a developer, there is always a way to browse the site as indicated by @frederick036.

However for new users, see as many issues still open probably does not encourage to use this project for new developments...

As I say recently in another thread:

[2018-11-04 09:55] Sandstedt commented on #201
Ah damit, I didn't have admin rights :/ Tried to publish it on my own branch but had trouble with the super old React Router version and relative routes. So the navigation doesn't work: [https://sandstedt.github.io/mojs-website/](https://sandstedt.github.io/mojs-website/)

[2018-11-04 09:59] xavierfoucrier commented on #201
Yes github pages is the good place to host repository website: if you have admin rights on the `mojs-website` repository, you can try to deploy the site on `gh-pages` branch. :wink:

[2018-11-05 16:56] xavierfoucrier commented on #201
Woops... this is bad news :cry:

[2018-11-07 01:35] afkaqualls commented on #201
I have no skills to help, but I want you all to know I am rooting for you
all to succeed so noobs like me can profit!

Alex

On Mon, Nov 5, 2018, 8:57 AM Xavier Foucrier <notifications@github.com>
wrote:

[2018-11-07 08:42] xavierfoucrier commented on #201
@Sandstedt,

Do you have admin rights on mo-js?

[2018-11-07 22:21] Sandstedt commented on #201
@xavierfoucrier nope unfortunally not.

[2018-11-07 22:35] xavierfoucrier commented on #201
Ok, need to wait for @legomushroom. Not so easy...

[2018-11-11 15:40] Sandstedt commented on #201
I have sent an email to Oleg and asked :) Let's see.

[2018-11-11 18:43] xavierfoucrier commented on #201
Hi @Sandstedt,

I agree with what you say, but I would like to have the position of @legomushroom before embarking on this adventure, let's see if we got an answer shortly :wink:

[2018-11-12 02:50] JianLoong commented on #201
Let's hope so. :+1:

[2018-11-12 22:00] Sandstedt commented on #201
@xavierfoucrier Yes of course, it’s his baby. That’s why I sent an email. I’ll get back as soon as I hear something.

[2018-11-14 08:11] nibushibu commented on #201
Unfortunately, he tweets that this project is no longer under maintenance.
https://twitter.com/legomushroom/status/1056990310218133504

[2018-11-14 09:36] xavierfoucrier commented on #201
Ok, we finally have our answer :+1:

I have my own organization @studiomotio, so I can put a fork of `mojs` in, create a specific **team** and add **collaborators** with push access. Let me know if it's a good thing or if you want to create a specific organization for that, like webpack we could use `mojs-contrib` :yum:

[2018-11-14 18:09] peterennis commented on #201
@xavierfoucrier
I am interested in the future of this. Looking at the history it seems the lack of desire
to support mojs is that the technology is old and legomushroom is now part of Microsoft. I guess
they have a different vision.
I have not looked at v2 but would like to see the project move towards components that can
be easily integrated with Angular, React, Vue, etc.
I have been following St

[2018-11-14 22:54] xavierfoucrier commented on #201
Yep, I agree with a **dedicated organization**.

I work with `mojs` since 2 years now, and I am not sure that the project will move towards reusable components for Angular, React and Vue... though I have seen many developers working to implement `mojs` with web frameworks. May be I am wrong, but `mojs` is made for tailor made and custom web animations.

Let's see all **feedbacks** from other membe

[2018-11-19 01:13] lindsaymacvean commented on #149
Any news on this. I think I am running into the same issues.

[2018-11-22 11:00] Tomarnst commented on #201
So any concrete plans ? Maybe organize a bit to make this move forward ?

[2018-11-22 12:13] xavierfoucrier commented on #201
As I previously said, we are waiting for **feedback from other members/contributors**, especially people that already pushed code fix/feature or pull requests on this repo. Keep calm, and be patient :wink:

[2018-11-22 13:51] xavierfoucrier commented on #200
@dipiana UP

[2018-12-11 12:02] xavierfoucrier commented on #201
20 days later: I am currently working on a new projet with the Popmotion library... not as easy as mojs... but provide useful features. For curious peoples: https://popmotion.io

Next year, if nothing has moved here, I will create the organization+repo as described in  https://github.com/legomushroom/mojs/issues/201#issuecomment-438598178 to make the mojs project keep moving forward.

Don't hesita

[2018-12-14 11:37] frederick036 commented on #201
I think we need to get the website back up running again first.

[2018-12-14 12:43] rordi commented on #201
the url points to some spam ads network. please at least remove the spam link from the github repo.

[2018-12-14 19:11] peterennisrda commented on #201
@xavierfoucrier, @rordi
Reported abuse to GitHub/Microsoft
Maybe we will get some attention to this.
![capture482](https://user-images.githubusercontent.com/1280523/50022380-caf18700-ff90-11e8-99a7-31103df98e0a.PNG)
![capture483](https://user-images.githubusercontent.com/1280523/50022384-ce850e00-ff90-11e8-8fff-c0f741c3b68d.PNG)
![capture484](https://user-images.githubusercontent.com/1280523/50022

[2018-12-14 19:52] xavierfoucrier commented on #201
@peterennisrda yes hope that help to fix the problem. It seem's that @legomushroom has not renew the domain name... :'(

[2018-12-17 11:11] frederick036 commented on #201
@peterennisrda I don't think it's hijacked by spammers. @legomushroom didn't renew the domain and someone else bought it. I don't think we should expect @legomushroom to do anything more either as he already said it's a deprecated project. If we want to continue development, we need to host it somewhere else on some other domain, and update the read me file to let people know.

[2018-12-17 17:39] shengslogar commented on #201
This repo should be archived or at least a note should be added indicating its deprecated status in the README. The now spammy mojs.io is the second result on Google and that's not a good thing. Ping @legomushroom

[2018-12-17 19:03] peterennisrda commented on #201
@frederick036
The site is used for spam under false pretenses of being mojs.

@shengslogar, @xavierfoucrier
I got a response from github:

[code]

[2018-12-17 19:48] frederick036 commented on #201
@peterennisrda There's nothing to fix or investigate. Unless you wanna pay for the domain yourself, there's not much we can do apart from updating the read me file and move away from mojs.io. Your having them investigating @legomushroom is unnecessary too as he already said this repo is deprecated. Moving on, we'll need to use some other domain to host the site.

[2018-12-17 20:16] peterennisrda commented on #201
@frederick036 @legomushroom
This: https://github.com/legomushroom/mojs/issues/201#issuecomment-433475695
I understand the repo is deprecated. Announcing it on twitter https://github.com/legomushroom/mojs/issues/201#issuecomment-438574253 does not solve the main issue.
The owner is not responsive and it does no credit to his years of work to leave a legacy of spam.
If the solution is to pay for the

[2019-01-21 22:29] David263 opened #203 "Error in API doc"
Page https://github.com/legomushroom/mojs/blob/master/api/easing/base-functions.md starts with a dead link to a CodePen for a demo.

[2019-01-22 02:21] javierojeda94 commented on #183
@legomushroom is this an option? I qould love to see this project move forward, please!

[2019-01-26 13:08] DanielRuf commented on #201
Is there any news about the planned org?

[2019-01-26 22:13] xavierfoucrier commented on #201
Hi everyone, happy new year to all of you :tada:

As expected, I have created the @mojs-contrib organization yesterday and fork the main repositories of the mojs project:
- mojs
- mojs-player
- mojs-curve-editor
- mojs-timeline-editor

If you are interested to **become a contributor**, propose new features, fix bugs or simply write API documentation, drop me your Github account to **join the team

[2019-01-26 22:31] xavierfoucrier opened #204 "mojs-contrib"
Hi everyone, happy new year to all of you :tada:

As you may know, @legomushroom has officially dropped support on the mojs project last year, see https://twitter.com/legomushroom/status/1056990310218133504.

That's why the documentation is not up to date, website is down, issues are still opened, and many pull requests freezed/unmerged.

Since the community is still active on this project, see #2

[2019-01-30 08:20] xavierfoucrier commented on #201
For thoose who want to join the **@mojs-contrib** team and continue to contribute to mojs, join the `#mojs-contrib` Slack channel here: https://mojs.slack.com/messages/CFT8GCJBG.

Drop your Github account to get push access! :heart:

[2019-01-31 14:42] frederick036 commented on #201
@xavierfoucrier you have to get invited to the Slack channel right? Here's my email: frederick036@gmail.com. Thanks!

[2019-01-31 15:01] xavierfoucrier commented on #201
Hi @frederick036!
Welcome in the team, I will add you soon.

Yes, I have created a channel inside the "old" mojs workspace, managed by legomushroom, other peoples can't join easily in fact... I will take time to create a specific workspace for this org shortly and will share the invite link :+1:

[2019-02-01 09:15] xavierfoucrier commented on #201
For thoose who want to join the **@mojs-contrib** team and continue to contribute to mojs, join the new `mojs-contrib` Slack workspace: https://join.slack.com/t/mojs-contrib/shared_invite/enQtNTQwNDg2NTgyNDg3LWExZjQ1MGMzOThjYzg1Njk5MThlYzcxZTMyM2NlYmJmNGYxM2U3ZTAyMDUzMWVlZWU2ZjBkYmFkMDU3ZmNkNjE

Drop your Github account to get push access! :heart:

[2019-02-01 09:15] xavierfoucrier commented on #204
For thoose who want to join the **@mojs-contrib** team and continue to contribute to mojs, join the new `mojs-contrib` Slack workspace: https://join.slack.com/t/mojs-contrib/shared_invite/enQtNTQwNDg2NTgyNDg3LWExZjQ1MGMzOThjYzg1Njk5MThlYzcxZTMyM2NlYmJmNGYxM2U3ZTAyMDUzMWVlZWU2ZjBkYmFkMDU3ZmNkNjE

Drop your Github account to get push access! :heart:

[2019-02-01 14:24] xavierfoucrier commented on #201
@DanielRuf would you like to join the mojs-contrib team on Github? I am currently "merging" all pull requests from https://github.com/legomushroom/mojs/pull into the new mojs repository, but the pull request [you made](https://github.com/legomushroom/mojs/pull/186) for updating dependencies/ci is a little outdated and there are many dependencies that are not maintained anymore: need help on that.

[2019-02-01 14:39] xavierfoucrier commented on #201
Perfect, I will add you shortly! :wink:

[2019-02-05 19:44] zfrisch commented on #204
I'd like to join.

On Fri, Feb 1, 2019, 3:15 AM Xavier Foucrier <notifications@github.com
wrote:

[2019-02-08 00:16] joniler opened #205 "Your website has been hijacked by a flash player spam"
Your website is redirecting to a plash player virus installer. You should probably get your domain back... That or remove the links from your GitHub if you intend to abandon the domain.

[2019-02-08 21:58] joniler commented on #205
Closing issue due to previously opened similar issue that I was unaware of! 🤪

[2019-02-08 21:58] #205 closed

[2019-02-08 22:02] joniler commented on #201
I feel like the project should just be forked and active maintainers should be re-added to the fork... Then at least people looking for this won't accidentally be served up malicious spam sites when trying to look at the project website.

[2019-02-08 23:17] peterennisrda commented on #205
@xavierfoucrier

Considering the tardiness of @legomushroom and Microsoft
regarding a smooth transition, maybe add an issue that will not be closed.

e.g.

MOJS is Dead! LONG LIVE MOJS-CONTRIB!!!

Please review this ticket https://github.com/legomushroom/mojs/issues/201

The new repo is here:  ... etc. etc. yadda yadda

[2019-02-08 23:37] DanielRuf commented on #201
It is already forked or what do I oversee? There are currently no active maintainers here.

[2019-02-09 11:56] Sandstedt commented on #201
@joniler I know you have helped out before. The problem is that no one except @legomushrom himself has write access to the repos. So we can't do anything more here without his help. We have reach out to both GitHub and Microsoft to help out but no answers yet.

So in the meantime we have started mojs-contrib that is a direct fork of mojs and all its sub repos including the website and tools. You'r

[2019-02-11 17:03] WagnerMoreira commented on #201
if we try http://mojs.io/ right now it's going to scam/crazy adds pages

[2019-02-11 17:15] DanielRuf commented on #201
We already know that and have no control over it. Someone else owns the domain.

[2019-02-11 18:17] xavierfoucrier commented on #201
@joniler: want to join? :smiley:

[2019-02-11 19:05] afkaqualls commented on #204
It's Alex M. from Slack requesting push access. :)

[2019-02-12 08:40] xavierfoucrier commented on #204
@zfrisch @afkaqualls Hi!

Sorry but for now we don't give push access to "starter" developers on Github that haven't suffisant community contributions BUT... you can fork the project and create Pull Requests to contribute :wink:

[2019-02-15 16:00] joniler commented on #201
Yeah, sign me up. I'm down to help out with various things in relation to
keeping the project alive. I may or may not contribute to the code base,
just because it's a bit over my head in terms of skell level at the moment
haha.

On Mon, Feb 11, 2019, 10:17 AM Xavier Foucrier <notifications@github.com
wrote:

[2019-02-17 05:27] mandaputtra commented on #204
Dang whre is the docs?

[2019-02-17 09:05] Sandstedt commented on #204
@mandaputtra there is an API folder that you can read here: https://github.com/mojs-contrib/mojs/tree/master/api. We are currently working on updating the old website too. Please star the mojs-contrib/moj repo to get update on the progress.

[2019-02-19 02:12] LouisMichael opened #206 "Not sure this regex does what you intend"
On[ line 7429 of mo.js](https://github.com/legomushroom/mojs/blob/51f5bf524db050fe72315df09c175a8a336e99e0/build/mo.js#L7429) you use the following regex
`nRgx = /(-|\+)?((\d+(\.(\d|\e(-|\+)?)+)?)|(\.?(\d|\e|(\-|\+))+))/gim;`
where it seems like you are trying to use \e for an escape character but in javascript \e matches e literally unlike in other regex dialects

[2019-02-19 02:21] davisjam commented on #206
That regex looks like it is capturing scientific notation, so I think "e" was intended. I am not sure why those e's are escaped though.

[2019-02-25 11:16] stevenbirr opened #207 "Error "Cannot read property '1' of null when running in Mocha/Jest test environment"
I am facing an issue when running mo.js in my mocha/enzyme test environment.
I have a simple component with mo.js included:

[code]
When running my mocha tests, the following error occurs:
C:\my-project\node_modules\mocha\node_modules\yargs\yargs.js:1148
      else throw err
           ^
TypeError: Cannot read property '1' of null
    at Helpers.getPrefix (C:\my-project\\node_modules\mo-js\build\m

[2019-03-06 09:54] Sandstedt commented on #207
Maybe you can mock the window object?

[2019-03-11 23:57] legomushroom commented on #204
That's awesome, I love you guys.
❤️

[2019-03-18 23:50] xavierfoucrier commented on #201
Hi everyone!

I recently got an invite from @legomushroom to join the official mojs team.

After a moment of reflection, I accepted this invitation in order to help in the project's evolution and to prevent the repository from being abandoned, since there is much more followers and contributors on it as our unofficial fork.

As we have not touched the core source code of the library, it is not too

[2019-03-19 00:34] peterennis commented on #201
@xavierfoucrier  - Glad to hear the news 😃  Does that mean @legomushroom will provide some help and/or guidance? As mentioned on slack I am only interested in v2+ development and have no attachment to the legacy code.

[2019-03-19 00:50] xavierfoucrier commented on #201
@legomushroom will continue to help on this project when he will have more time, but as mentioned, **the roadmap would probably be similar to the unofficial fork**, so for now, the v2 will remain in a pending status.

I lock this conversation to prevent future off topics comments.

[2019-03-20 07:53] #172 closed

[2019-03-20 07:57] #200 closed

[2019-03-20 07:59] #184 closed

[2019-03-20 07:59] #153 closed

[2019-03-20 08:05] xavierfoucrier commented on #183
See https://github.com/mojs/mojs/issues/201#issuecomment-474144899.

[2019-03-20 08:05] #183 closed

[2019-03-20 08:06] #191 closed

[2019-03-20 08:31] #13 closed

[2019-03-20 08:36] #31 closed

[2019-03-20 08:36] #48 closed

[2019-03-20 08:37] #63 closed

[2019-03-20 08:37] #65 closed

[2019-03-20 08:41] #16 closed

[2019-03-20 08:51] #70 closed

[2019-03-20 08:57] #75 closed

[2019-03-20 09:05] #82 closed

[2019-03-20 09:10] #89 closed

[2019-03-20 10:12] xavierfoucrier commented on #107
Hi @lannex,

Did this issue is fixed today?
Thx

[2019-03-20 10:18] #110 closed

[2019-03-20 10:28] #119 closed

[2019-03-20 10:36] #128 closed

[2019-03-20 10:36] #127 closed

[2019-03-20 10:37] #130 closed

[2019-03-20 10:39] #133 closed

[2019-03-20 10:46] #136 closed

[2019-03-20 11:02] #156 closed

[2019-03-20 11:06] xavierfoucrier commented on #160
Done :wink:

[2019-03-20 11:06] #160 closed

[2019-03-20 11:10] xavierfoucrier commented on #168
See https://github.com/mojs/mojs/issues/201#issuecomment-474144899.

[2019-03-20 11:10] #168 closed

[2019-03-20 11:14] #177 closed

[2019-03-20 11:15] xavierfoucrier commented on #178
Hi @Kaperstone,

Sorry for the long wait.
Did this issue is resolved today?

Thx :wink:

[2019-03-20 11:16] #189 closed

[2019-03-20 11:18] #185 closed

[2019-03-21 04:30] lannex commented on #107
Hi @xavierfoucrier
It was my mistake.

[2019-03-21 04:31] #107 closed

[2019-03-21 13:55] Kaperstone commented on #178
I somehow got around this back then, don't remember how.

anyhow, I don't use this lib, this is an amazing lib tho!

[2019-03-21 13:55] #178 closed

[2019-03-21 15:09] #201 closed

[2019-03-21 15:14] xavierfoucrier commented on #198
Duplicate of #161. Closing the issue.

[2019-03-21 15:14] #198 closed

[2019-03-21 15:14] xavierfoucrier commented on #203
Duplicate of #198. Closing the issue.

[2019-03-21 15:14] #203 closed

[2019-04-12 07:46] xavierfoucrier commented on #197
Hi @wangzhenhui1992,

Did you fixed your issue with Angular + mojs?

[2019-04-18 15:33] Sandstedt commented on #68
Seems the .then method is not 100% reliable. Have a similiar bug when setting different origins in the shape tween object and in the `.then` method. Can work around it by setting the origin to a tweenable object instead of a static one. Like this:
[code]

Will take a closer look at the bug later.

[2019-04-22 01:43] wangzhenhui1992 commented on #197
@xavierfoucrier No, I have given up it....

[2019-04-22 01:43] #197 closed

[2019-05-18 19:34] Sandstedt commented on #207
@stevenpietzsch Did you solve this? Then please close this issue, and if you have time, add a small writeup how you solved it. Thanks!

[2019-05-19 13:00] stevenpietzsch commented on #207
No, sorry. Did not solve this problem.

[2019-05-24 06:55] DanielRuf opened #211 "Fix dependencies"
After changing `"git+https://github.com/legomushroom/grock.git"` to `legomushroom/grock` we still have some issues with other dependencies:

[code]

[code]

[code]

So it seems `karma-browserify > watchify` is the culprit.

[2019-05-24 08:08] xavierfoucrier commented on #211
Hi @DanielRuf,

Yes, of course all dependencies need to be updated on this project, many are deprecated but we are still working on the website with @Sandstedt. If you want to PR something, it is more than welcome :wink:

[2019-05-24 08:57] DanielRuf commented on #211
Right but I have to check against the current state again as we have no lockfile.
https://travis-ci.org/mojs/mojs/builds/368854050

We should probably pin the dependencies in package.json then as lockfiles are not used on npmjs and when adding / installing dependencies - just the root lockfile actually locks.

[2019-05-29 14:44] sourcewars opened #212 "Maybe example with react hooks"
Was somebody able to make this thing work with react and functional components? Would be great if somebody could share some ideas.

[2019-06-05 22:06] xavierfoucrier commented on #211
I agree with you, we need to have a **package-lock.json** file in order to properly have dependencies pinned.

I am very busy since 1 month, but if you are able to make a new PR or update the existing one, don't hesitate to ping me on the Slack channel :wink:

[2019-06-07 18:11] xavierfoucrier opened #213 "NPM organization"
Use the `mojs` NPM organization to **host all mojs packages** for better consistency.

- [x] update the package properties
- [x] setup the npm org.
- [x] publish and test
- [x] update/check the doc.

[2019-06-07 18:12] xavierfoucrier commented on #213
Currently **working on it**, see https://github.com/mojs/mojs/tree/mojs-npm-org.

[2019-06-07 20:22] Sandstedt commented on #207
The problem doesn't have anything with window.getComputedStyle. There's some problem with the dom regex. Doesn't really understand what it does to be honest. Will need some more digging, but should definitely fix it.

[2019-07-01 14:42] #213 closed

[2019-07-12 11:02] Sandstedt opened #216 "Add support for a reduced motion prop"

[2019-07-14 10:58] iamappmaker opened #217 "Is it possible to convert animation to video?"
is it possible to convert animation to video?

[2019-07-14 12:20] xavierfoucrier commented on #217
Hi @iamappmaker,

You can do it using a **screen recorder**.
The library doesn't have this feature and we have not planned to implement it, even in a far future.

Closing the issue.

[2019-07-14 12:20] #217 closed

[2019-07-14 12:22] xavierfoucrier commented on #216
Hi @Sandstedt!

Can you give a short code sample to figure out what you mean? :wink:

[2019-07-14 13:44] Sandstedt commented on #216
Here's and article about what it is and when it should be used: https://developers.google.com/web/updates/2019/03/prefers-reduced-motion

[code]

Not sure about the prop name. Should be clear that it has with accesability to do and that we want to ignore the prefere reduced motion check.

[2019-07-14 13:46] Sandstedt commented on #216
So if the `a11y` prop in the example above is set to `true`, the animation wont play if the user has set "Prefere reduced motion" in their system settings.

[2019-07-14 14:01] xavierfoucrier commented on #216
Thanks for the clarification, it could be a great feature: respect the user preference is more important than ever today.

[2019-07-16 17:10] Sandstedt commented on #216
Yeah, it very easy to do self as a developer, by adding the stop method inside the media query. But then the developer need to be aware of it. Better to have them opt-out instead if they know what they're doing.

[2019-07-24 21:07] BertrandGouny commented on #126
this is still an issue :(

[2019-07-30 16:03] xavierfoucrier commented on #126
Hi @BertrandGouny,

Sorry for the late reply, for now we have not planned to work on strict mode inside the current build as we are a little busy with @Sandstedt on other private projects.

Be sure we will inform you of the situation when it will move forward :wink:
Thanks for your interest for `mojs`.

[2019-08-01 18:40] BertrandGouny commented on #126
@xavierfoucrier thanks :)

[2019-08-19 07:07] SuneethaYamani commented on #50
"mo-js": "^0.288.2" version I am facing same issue

[2019-08-19 07:19] xavierfoucrier commented on #50
Hi @SuneethaYamani,

You should now use the lastest release from the NPM org.:
`import mojs from '@mojs/core'`

Check the official documentation at https://mojs.github.io/tutorials/getting-started.html#setup-mo-js-in-your-project.

:wink:

[2019-08-21 11:38] SuneethaYamani opened #218 "In Bubble layout example tween.add is giving error with latest version( "@mojs/core": "^0.288.2")"
As per latest version api only timeline has add method.
So in bubble layout example i changed code like this

   this.showCloseBtnTween = new mojs.Timeline();
      this.showCloseBtnTween.add(
        this.closeCircle.tween,
        this.closeCircle2.tween,
        this.closeCircle3.tween,
        this.closeCircle4.tween,
        this.closeCross.tween,
        this.closeBurst.tween
      );

[2019-08-21 11:43] SuneethaYamani opened #219 "How to use mojs with angular,Help needed"
Please give some documentation for mojs with angular

[2019-08-21 11:51] xavierfoucrier commented on #218
Hi @SuneethaYamani,

Sorry to hear that, but the bubble layout example **is running under v0.119.0** on CodePen and can't probably run with the latest version.

[2019-08-21 11:55] xavierfoucrier commented on #219
Hi @SuneethaYamani,

For now, **we haven't planned to add official support for Angular**.
Please take a look at the previous issues that could probably help you a little if you have some problems with the API and Angular: https://github.com/mojs/mojs/issues?utf8=%E2%9C%93&q=is%3Aissue+angular.

Thanks :wink:

[2019-08-21 11:55] #219 closed

[2019-08-21 17:47] Sandstedt commented on #218
There is some working examples here if you wanna read more how to make the burst effects: https://mojs.github.io/tutorials/burst

[2019-08-22 10:52] divdax opened #220 "mojs.io website"
[mojs.io](http://mojs.io) website is gone.

[2019-08-22 21:17] xavierfoucrier commented on #220
Hi @divdax,

Thanks for reporting, but this is a **duplicate** of: [#201 mojs.io not working](https://github.com/legomushroom/mojs/issues/201).

Closing the issue.

[2019-08-22 21:17] #220 closed

[2019-08-25 10:23] uduse opened #221 "Correct way to use mojs with promise/async?"
I want to play an animation and wait until it finishes. I checked the docs and tutorials and I did not find an API that returns a promise or something.

It seems there's no related discussion here so I would like it to ask if there's a standard way of doing this?

What I am doing now is wrapping it in a promise and it works fine:

[code]

[2019-08-26 05:15] Sandstedt commented on #221
I haven't seen anything else, so I think this solution is the way to go. Mojs is not (to my knowledge) promise based at all, instead relies on callback functions. But maybe it could be a interesting feature. I personally never have needed something similar.

In what use case do you need this promise to resolve? Maybe we should always return a promise when the animation is finished?

[2019-08-26 10:52] uduse commented on #221
USE CASE: I am designing a game and using frontend technology for rapid prototyping (similar to Zelda creating a 2D version for testing before implementing a full-fledged 3D version). An entity plays a burst animation once hit and only after that animation is done, the next animation shall be played.

I am using `animejs` as well and it supports waiting by returning a promise, so I can do `await s

[2019-08-27 05:15] Sandstedt commented on #221
Thanks for the use case (and interesting use of the library 🙂).

But yeah, then I can understand it's a bit easier to to sequencial code if you can use it that way. We'll look into it.

[2019-08-28 06:19] xavierfoucrier commented on #221
I confirm I am using a Promise too with the `onComplete` event of mojs if I need to wait for the animation to complete because it does not support Promise for now 😉

[2019-11-06 07:33] FateRiddle commented on #126
This is still an issue. @xavierfoucrier And the first work around provided isn't working. I'm not planning on using gulp in my project so I can't test the second one. I really like this project, can we get this one fixed?

[2019-11-06 13:41] xavierfoucrier commented on #126
Hi @FateRiddle,

Sorry but I haven't much time to work on that shortly... but will consider dinging inside and investigating further as soon as possible.

Thanks for your patience.

[2019-11-16 03:38] y-sumanth opened #222 "Changing shape of object"
I know there is no way to change the shape of object now. But this will be very useful add-on of the library. Can the contributors please consider this? Like..
[code]

Or please suggest any possible way to achieve this. Thanks.

[2019-11-16 22:05] xavierfoucrier commented on #222
Hi @y-sumanth,

What you are talking about is literally **SVG morphing**, this is already a feature request made a long time ago :wink:

Today, some other libraries similar to `mojs` are using specific modules to do that, like the famous **Polymorph** library that is very easy to use: https://notoriousb1t.github.io/polymorph-docs.

I will mark your issue as duplicate of #67.
Thanks for your intere

[2019-11-16 22:05] #222 closed

[2019-12-23 12:25] GaoHengdong opened #223 "How to build an infinite repeat animation?"
I found isYoyo not working when repeated  using function onComplete.
[code]
this is my code. Could anyone help me? Is this a bug?
Thank you.

[2019-12-24 00:35] xavierfoucrier commented on #223
Hi @GaoHengdong,

This is probably not the right syntax...
Calling the `replay` method will just **restart the animation from zero**.

`isYoyo` is aimed to work with the `repeat` option, that is set to `0` by default.. so you just need to set it with the number of time you want your animation to be repeated, like this:

[code]

Hope this help :wink:

[2019-12-24 01:51] GaoHengdong commented on #223
Hi @xavierfoucrier ,
Thank you for your reply.
Actually I just want to find a 'repeat : infinete‘ alternative. Issue #78 has discussed about it. But actually,
[code]
can't be a  equally solution to 'repeat : infinete‘ .
Your code above will cause a break when repeated 20 times.
My idea is manually implement isYoyo by then() or repeat really large times.
Is there a better way? Thank you!😄

[2019-12-24 08:56] xavierfoucrier commented on #223
Hi @GaoHengdong,

Of course you can!
Here is the trick: use `repeat: 1` and `this.replay()` at the same time.

[code]

This will play the first stage, then at 50% progress will flip your animation (due to the `isYoyo` option), and finally, when reaching 100% of the progress, will replay the shape, causing an infinite repeat chain.

You can close the issue if it fits your needs.

:tada: :wink:

[2019-12-24 08:59] GaoHengdong commented on #223
OK. Thank you!

[2019-12-24 08:59] #223 closed

[2019-12-30 13:42] JEricFarias commented on #218
Hi @SuneethaYamani
You can run `npm i mo-js@0.119.0` to get the specific version. I found this in the release tree [here](https://github.com/mojs/mojs/tree/0.119.0)

[2019-12-30 20:20] #218 closed

[2020-02-09 21:44] thirschel commented on #126
@xavierfoucrier I have created PR (#224) as a fix for this issue.

[2020-02-11 20:07] Sandstedt opened #225 "Lack of .babelrc file is causing an error on watch"
When building the mojs project (`npm run start`), and have an .babelrc file in a parent folder, babel will try to find a .babelrc file in any of it's parent folders, and if it will, it will use that instead. This could cause a corrupt build or resulting in an error like this:

[code]

To temporally solve this, make sure you don't have any .babelrc files laying around in your parent folders.

Will

[2020-02-12 14:39] xavierfoucrier commented on #225
We will probably move the babel configuration into a dedicated `.babelrc` file :wink:

[2020-02-27 19:55] gromovadarya90 opened #226 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 22:04] renata2216 opened #227 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 08:09] dipiana opened #232 "Repeat Burst before it finished"
Hello,

is there a way to repeat a burst animation (which takes 3 seconds) every second that a kind of ripple effect is created.

Thanks a lot!

[2020-03-02 10:10] xavierfoucrier commented on #232
Hi @dipiana!

You can use the `repeat` option of the `Burst` children to repeat it, like this:

[code]

As the `Burst` doesn't have an "infinite" value for the `repeat` option, you can use the `onComplete` hook to repeat it by yourself, like this:

[code]

This two examples will produce the same result:
![Sans-titre---1](https://user-images.githubusercontent.com/2471223/75666510-35feaa80-5c76-11ea

[2020-03-03 18:09] fluxxus opened #233 "Create/animate shape and keep it visible"
I guess I am missing something basic. I want to create and animate shape, but keep it visible after creation and animation is done.

    const rect1 = new mojs.Shape({
    parent:       '#scene-clients',
    shape:        'rect',
    left:         '10%',
    fill:         'none',
    radius:       20,
    stroke:       { '#d7f0ea' : '#61c1c9' },
    strokeWidth:  { 0: 6 },
    `strokeDasharray`: '

[2020-03-03 19:26] fluxxus commented on #233
Closing this. This is just the way `strokeDasharray` and `strokeDashoffset` animation works.

[2020-03-03 19:26] #233 closed

[2020-03-03 20:26] Sandstedt commented on #232
@dipiana You can also use the [timeline function](https://mojs.github.io/api/tweens/timeline.html) and pass in multiple burst animations, like in this example: https://codepen.io/sandstedt/pen/ExjvLrr?editors=0010, if that is more the effect you want.

Else if you have a Dribbble animation or something as a reference we could help you recreating it 🙂

[2020-03-07 10:36] dipiana commented on #232
Hey! Thanks for your help.

I am actually looking for a different effect.
Let's say one burst animation takes 2 seconds (from where the points are created until they traveled away from the center and dissolve). Now I would like to have a new burst created every 0.5 seconds, so before the first burst even finished.

My desired end result should look like this one here:
![compressionwave](https://us

[2020-03-09 08:44] xavierfoucrier commented on #232
Hi @dipiana,

Thanks for the gif. sounds a little complex to build, but have started something and will share when the result will be as close as possible to yours :wink:

[2020-03-09 10:16] xavierfoucrier commented on #184
Hi @olemartin,

In fact, I ended to get it work in a recent project. :smile:
You can tune `Burst` children by using this syntax:

[code]

Hope this help, several years later :wink:

[2020-03-09 11:12] xavierfoucrier commented on #232
Hi @dipiana,

Here is a good starting point: adapt it to your needs of course :wink:

Your animation is made, for me, of two things:

1. A **ripple** effect: points placed on circles that grow up from the center, and finally disappear when reaching the maximum radius. My solution is to **only use 5 `Burst` of 30 points that will repeat infinitely**, this way you won't have a lot of browser memory

[2020-03-09 13:06] dipiana commented on #232
Really cool! Thanks for the input! :)

[2020-03-09 13:06] #232 closed

[2020-03-18 03:10] pzxie opened #235 "How to add custom shapes by es5?"
Is there a way to add custom shapes with es5?
I tried to use prototype to inherit mojs.CustomShape, but it didn't  work. Anyways to solve it? Thanks!

**code show as below**
[code]

**ES6 class is works**
[code]

[2020-03-18 07:16] Sandstedt commented on #235
Me personally always use Babel for everything nowadays. But sure there is a way to compile it manually. Don't have the syntax in my head currently, but can make an example later. But if you need to support IE11 and below, I would encourage you to use a compile step anyway.

[2020-03-18 07:38] Sandstedt commented on #235
Okay, got it working 😀

Here is an complete example: https://codepen.io/sandstedt/pen/JjdZyXg?editors=0010

[code]

[2020-03-18 07:42] Sandstedt commented on #235
Oh sorry. I see Reflect isn't working in IE.

[2020-03-18 09:23] xavierfoucrier commented on #235
Hi @pzxie!

I agree with @Sandstedt, you should use **Babel** to transpile your code, this is the better way in 2020.

Or, if you don't want to use Babel, you can polyfill the `Reflect` class, simply as that by using the **Polyfill.io** URL service: https://polyfill.io/v3/polyfill.min.js?features=Reflect.setPrototypeOf%2CReflect.construct

:wink:

[2020-03-18 12:46] pzxie commented on #235
@xavierfoucrier  Yes, agree with u, actually i did it.  But i just want to try the way by es5, After all, class is just syntactic for functions.  :smile:

[2020-03-18 14:36] xavierfoucrier commented on #235
Perfect, try to use a Polyfill and feel free to close the issue when it is good for you. :sunglasses:

[2020-04-10 07:40] nainardev opened #236 "Z index in documentation site"
![Screenshot_20200410-130936](https://user-images.githubusercontent.com/59839368/78972990-9a8e0e80-7b2c-11ea-8803-a6bb7dbe87e2.png)
![Screenshot_20200410-130928](https://user-images.githubusercontent.com/59839368/78973003-9eba2c00-7b2c-11ea-9df3-324877ac8d4f.png)

[2020-04-10 12:38] Sandstedt commented on #236
Thanks @nainardev! It's fixed now.

[2020-04-10 12:38] #236 closed

[2020-04-10 13:33] Viksna-Maxim opened #237 "What is the difference between play and replay?"
When I use the `replay()` to run an animation, the animation doesn't work correctly (there are several multiple iterations of the animation that shouldn't be there). However, when I use the `play()` to run animation, it all works well, without any repetitions.
**Question:**
1. Why is this happening?
2. What is the difference between the `play()` and `replay()` in my case ([codepen](https://codepen

[2020-04-10 14:04] Sandstedt commented on #237
What's happens here is that you for each click adds some animation data to the timeline using `.then()` on each polygon. You don't redefine the animation, you add to the chain. Like an array push.

So when you use `.play()`, you starts playing from the timeline position where you stopped last time, and plays through the newly added animation data that you declared in the `.then()` function.

When

[2020-04-10 14:24] Viksna-Maxim commented on #237
@Sandstedt, thank you!

[2020-04-10 14:32] Viksna-Maxim commented on #237
@Sandstedt, how can I redefine the animation? What's the method I need?

[2020-04-10 15:01] Viksna-Maxim commented on #237
@Sandstedt, I have a lot of questions should I create a new issues every time?

[2020-04-10 15:05] xavierfoucrier commented on #237
@Viksna-Maxim, of course not :smile: !

If you doesn't find any answer on Github issues+mojs docs, please **join the Slack channel** in order to ask your questions: https://join.slack.com/t/mojs/shared_invite/zt-dcqt2syv-2ndsIdesrutP28AyAqZSfg.

Thanks a lot!

[2020-04-10 15:56] nainardev commented on #236
How did you implemented it? Can you reference the commit?

[2020-04-10 17:56] Viksna-Maxim commented on #237
@Sandstedt, can you help? Please explain to me why this code doesn't work
[code]

[2020-04-10 21:27] xavierfoucrier commented on #237
@Viksna-Maxim please ask on Slack as I said... thanks.

[2020-04-10 21:27] #237 closed

[2020-04-14 15:08] Sandstedt commented on #236
@nainardev Sure. Here's the commit: [https://github.com/mojs/mojs.github.io/commit/559d1a1bada81687602d785dd1aaea2cc15cabe7](https://github.com/mojs/mojs.github.io/commit/559d1a1bada81687602d785dd1aaea2cc15cabe7)

[2020-05-27 00:11] JakeHartnell commented on #207
Came across this today. Perhaps related? https://stackoverflow.com/questions/40554652/uncaught-typeerror-cannot-read-property-1-of-null-in-a-javascript-function

[2020-05-27 07:50] xavierfoucrier commented on #207
Hi @JakeHartnell,

Thanks for your feedback. We are currently working on releasing a new version of the library, with up to date dependencies, may be this will solve the problem, will see.

If not, your comment will probably be helpful!
Have a nice day :wink:

[2020-05-28 00:25] JakeHartnell commented on #207
I was able to get around this error by changing how imported the library. Instead of:
[code]

I updated the React component I was working on, to import it as part of `componentDidMount`:
[code]

This is a bit of a hack, but my tests pass now.

@xavierfoucrier, looking forward to the new version! Thank you for the work.

[2020-07-03 16:22] xavierfoucrier commented on #175
Hi @nicooprat,

We are working on making the bundle size smaller for the v1 release.
Tree-shaking should be enable too as we have convert the project to fully use webpack 4 features.

:+1:

[2020-07-03 16:32] xavierfoucrier commented on #163
Hi @DanielRuf,

Thanks for underlining this :wink:
It should be OK in the next release, as all CI stuff is under review.

Closing the issue.

[2020-07-03 16:32] #163 closed

[2020-07-03 16:54] xavierfoucrier commented on #32
Hi @suranyami,

As described by @legomushroom, loading library into the document `<head>` is inappropriate if the library need to refer to the `<body>`...

I suggest you to move the `<script>` tag on the bottom of your document, or add a simple `DOMContentLoaded` event to check for the `<body>` availability, and load the library according to that.

Improving helpers in a next version should fix th

[2020-07-03 16:54] #32 closed

[2020-07-03 18:29] nicooprat commented on #175
Glad to hear! 🥳

[2020-08-04 11:56] xavierfoucrier commented on #207
I found the bug, working on a fix :+1:

[2020-08-04 13:18] xavierfoucrier commented on #162
Hi @DanielRuf,

Is this still an issue on the `prepublish` branch?
I have never use the BFG tool, so I don't know what can be the impact on the current repository...

Thanks for your clarification. :+1:

[2020-08-04 13:20] DanielRuf commented on #162
Probably not. The history of the branch is just too big. Closing for now.

[2020-08-04 13:20] #162 closed

[2020-08-06 08:52] #235 closed

[2020-08-06 08:58] #206 closed

[2020-08-06 09:00] #121 closed

[2020-09-04 09:02] jawahar95 opened #243 "SSR support"
Give support to SSR.
Am using this package in angular server side rendering It show error while  generating a SSR build

[2020-09-04 09:05] AsifDeveloper commented on #243
Yes, I am also getting the same issue while using this package in the Angular SSR build.

[2020-09-04 09:17] xavierfoucrier commented on #243
Hi @jawahar95,

Can you give us a little more informations about the error you are encountering when building with an SSR application and at least, a minimal reproductible test repository?

Thanks :wink:

[2020-09-04 16:18] Sandstedt commented on #243
Usually it has to do that mojs try to access the window object that doesn't exist on a node server.

So best is to not try to run a client side library on the server. Angular should have documentation how to do this.

But we could probably do a quick test and see if it's run on the server, and just abort.

[2020-09-04 21:11] xavierfoucrier commented on #243
@Sandstedt you are right, I think checking the environment/window object should do the trick.
Waiting for @jawahar95 feedback if there is other issues/errors that he want talk about :wink:

[2020-09-06 19:37] rajchandra3 commented on #62
React js Component for context

[code]

In the current code, I can show an animation but the heart remains on the screen even though the animation has ended, is there a fix for this?

Note: when the animation is fired again the heart is deleted and new animation is played, this is not an issue, the issue is again the next heart will remain on the screen.

[2020-09-07 06:28] xavierfoucrier commented on #62
Hi @rajchandra3,

As explained by @almgwary, you need to remove it by yourself as it is not implemented yet in the library.

Use:

[code]

:wink:

[2020-09-07 11:00] jawahar95 commented on #243
here I share the deceleration of mojs  if am declear the mojs DOM element Wont render
![Screenshot from 2020-09-07 16-30-29](https://user-images.githubusercontent.com/36267622/92380879-7d835900-f127-11ea-8db5-f342918e145a.png)

tlDuration = 300;
  @ViewChild('anibutton', {static: true}) clap: ElementRef;
  triangleBurst = new mojs.Burst({
    parent: this.clap,
    radius: {50: 95},
    count: 5,

[2020-09-07 12:00] xavierfoucrier commented on #243
Hi @jawahar95,

OK so this is exactly was @Sandstedt underlined!
This will be fix in the next release :wink:

[2020-09-07 13:32] rajchandra3 commented on #62
Thanks, @xavierfoucrier for the quick response and making this clear.

[2020-09-07 18:18] jawahar95 commented on #243
when we can expect the next release

[2020-09-07 20:30] xavierfoucrier commented on #243
@jawahar95 next release is planned in the Github milestone, approx. October 31, 2020... but it will depend on some feedback that we are waiting about the CI/CD pipeline.

[2020-09-14 12:49] #211 closed

[2020-09-14 12:51] #167 closed

[2020-09-14 12:51] #166 closed

[2020-09-14 12:52] #179 closed

[2020-09-24 03:15] ebookpk opened #244 "Export the DOM animation to a single SVG file"
How can I export the dom animation to a single svg file

[2020-09-24 06:03] Sandstedt commented on #244
Interesting question. I guess you could paus the animation at the time you wanna save as an SVG (example using mojs timeline), and then inspect the DOM in your browsers dev tools and copy the sourunding SVG DOM and save to a file.

[2020-09-24 08:42] xavierfoucrier commented on #244
Hi @ebookpk,

@Sandstedt answer could work, but `mojs` can split animations in multiple DOM elements using `<div>`, so you can't export a whole timeline for example by just copy/paste the source output.

I don't think we will implement this kind of feature...

[2020-09-25 01:02] ebookpk commented on #244
@xavierfoucrier  @Sandstedt
thanks your reply ,
The below post said that svg document contain javascript code, so  how to using mojs timeline export javascript code ?
https://groups.google.com/forum/#!topic/snapsvg/BVTjd2PcmO0

[2020-09-25 08:21] xavierfoucrier commented on #244
Hi @ebookpk,

Yeah SVG can contain javascript code... but `mojs` is using javascript **inside his core code structure**, not inside SVG. And as I said, there is not only SVG animated on the screen when using `mojs`.

[2020-09-26 01:55] ebookpk commented on #244
@xavierfoucrier  Thank you very much!

[2020-09-26 11:37] #244 closed

[2020-10-14 08:59] xavierfoucrier commented on #137
Hi @bilibiliou,

Sorry for the lonnnng delay.
We are cleaning some old issues right now.

The library animates the parent div and some of the SVG properties, like the `fill` attribute. You shouldn't have to rely on the SVG viewbox itself to place the object on screen, using only CSS will be sufficient. SVG viewbow is made to display part of the SVG, its like a cropping feature on an image.

In spe

[2020-10-14 08:59] #137 closed

[2020-10-14 09:11] xavierfoucrier commented on #194
Hi @Meai,

Sorry for the delay.
We are closing old issues right now.

The `_o` object is private and contains library stuff.
You don't have to rely on it to build your application.

[2020-10-14 09:11] #194 closed

[2020-10-14 09:52] xavierfoucrier commented on #103
It is not recommended to put scripts inside the head tag, especially third party libraries like `mojs` that need the DOM to properly work. It can be considered as "render blocking resources" by Google if you don't defer it too.

Using a **bundler** like webpack and put the minified bundle before closing the `<body>` tag looks the best solution.

In addition, most developers will have to rely on DO

[2020-10-14 09:52] #103 closed

[2020-10-24 15:37] xavierfoucrier commented on #243
After a lot of tests/hours trying to make the (current) library compatible with SSR, we have decided with Jonas to not make the current mojs version SSR-friendly. Documentation will state about this inside the React section and you will be able to find an example on how to properly implement this kind of library inside an SSR application.

[2020-10-24 15:37] #243 closed

[2020-11-03 17:57] Sandstedt opened #246 "Wierd behaviour on Burst count using rand function"
When setting the burst count using the `rand()` function, the burst behaves wierdly. Sometimes the children are not spread out evenly, sometimes it's like the last childs is still playing. Compare this to when you set either count to, 2, 3, 4, 5 or 6 directly compared to ` 'rand(2, 6)'`.

Example:
[code]

Bug reproduction pen:
https://codepen.io/sandstedt/pen/Vwjdroy

[2020-11-04 10:05] xavierfoucrier commented on #246
@Sandstedt Good catch! Looks like a bug :bug:

[2021-02-12 07:16] princefishthrower commented on #109
Should https://github.com/Ao21/mojs-typescript-definitions be moved into https://github.com/DefinitelyTyped/DefinitelyTyped ?

[2021-02-12 11:00] xavierfoucrier commented on #109
Hi @princefishthrower,

Thanks for getting in touch!

What about hosting it inside a dedicated `mojs` repository? Like `@mojs/types`.
I guess it would be better, but may be most developers are using "DefinitelyTyped" repo? :thinking:

Let us know.
cc @Sandstedt

[2021-02-12 11:41] Sandstedt commented on #109
@martinlombana
We have plans to convert mojs to typescript in the future, so then this won't be nessesary, but before that is accomplished, you're more then welcome to submit mo.js to the DefinitelyTyped monorepo. Or provide some instructions how we can submit to it.

Not sure what version of mojs Ao21's/ronanbrett version is, but the only API change we have made for v1 is changing `angle` to `rot

[2021-02-12 23:07] xavierfoucrier commented on #109
I totally agree with you @Sandstedt, as usual :sunglasses:

If you want to contribute to mojs types definitions @princefishthrower, you can push them to the DefinitelyTyped monorepo. Just be sure to use the latest mojs API: you can wait for the `v1.0.0` release - in the next few weeks - and yes, we prefer that it doesn't brake anything for the end user of course :smile:

Thanks for contributing to

[2021-03-02 23:15] xavierfoucrier commented on #170
Codepen demo is broken.
Closing the issue.

[2021-03-02 23:15] #170 closed

[2021-03-03 08:55] Sandstedt commented on #170
Just a note in case anyone else read this. If the animation is purely visual, I would suggest always setting `pointer-events: none` to it in CSS. It's cheaper and easier then removing DOM elements (up to a certain limit of course).

[2021-03-03 11:10] xavierfoucrier opened #250 "Ad time unit global setting"
Allow the user to easily **choose between seconds and milliseconds** when working with mojs duration/shift properties.
Instead of using `duration: 1000` (ms by default), the user could be able to use `duration: 1` (seconds).

[2021-03-03 15:13] xavierfoucrier commented on #190
Hi @kumarharsh,

I am not able to reproduce the bug because the current codesandbox doesn't work anymore.
Here is the code I am using and that works fine locally on the latest `@mojs/core` version:

[code]

Feel free to update your code and let us know if it's still not working.
Thanks!

[2021-03-03 15:23] xavierfoucrier commented on #149
Hi everyone!

As there is no more code explanation here and the issue is pretty old, I am closing it.
The latest `@mojs/core` version **works fine with React**, so I guess it's the same with latest Angular version.

Have a look at our **dedicated SSR section** on the documentation website:
https://mojs.github.io/tutorials/usage-with-react.html.

[2021-03-03 15:23] #149 closed

[2021-03-06 12:00] P0oOOOo0YA commented on #109
No matter what you do writing type definition file for an existing JS library never ends up in a reliable solution. Nowadays Typescript is the way to go for JS developers, having types in place increase code quality, reliability and speed of development. Hope that the maintainers rewrite this wonderful project in TS in near future.

[2021-03-08 07:53] xavierfoucrier commented on #109
Sure, we need to move forward to `TypeScript` of course, it's a lot of code refactoring, so we will need a lot of spare time to do this, but yeah this is planned :wink:

[2021-03-10 23:27] processprocess opened #251 ""Running Locally" guide"
A guide for setting up and running the code locally would be awesome.

I would like to contribute however I'm running into issues installing and building the code.

[2021-03-11 00:18] xavierfoucrier commented on #251
Hi @processprocess,

Thanks for opening the issue.

This is already done inside a "contributing" guide here:
https://github.com/mojs/mojs/blob/prepublish/CONTRIBUTING.md#working-with-the-project.

The guide will be merged soon with `v1.0.0` release :wink:
I am closing the issue.

[2021-03-11 00:18] #251 closed

[2021-03-24 23:23] #126 closed

[2021-03-24 23:23] #207 closed

[2021-03-24 23:23] #225 closed

[2021-03-24 23:23] #141 closed

[2021-03-24 23:25] #175 closed

[2021-03-25 10:59] sean0x42 commented on #109
I'd be happy to contribute to a Typescript migration if you need an extra pair of hands.

[2021-03-25 12:29] Sandstedt commented on #109
@sean0x42 Yes please :D Will contact you as soon as we can start with this.

[2021-03-26 07:47] xavierfoucrier opened #253 "GPR publication workflow failure"
Looks like the **Github Package Registry publication** is failing.
https://github.com/mojs/mojs/runs/2194472833?check_suite_focus=true

[2021-03-26 07:48] xavierfoucrier commented on #253
Investigating..

[2021-04-11 21:43] xavierfoucrier commented on #253
After Github staff investigation, this is probably due to another `@mojs` package dependency.

[2021-04-11 21:43] #253 closed

[2021-07-28 08:09] rajkanase opened #255 "Not working on IE"
Hey Guys,

I have used **mojs** in one of my angular project. I want to **run this project on IE as well**. But it's not working in IE. I can see **only blank screen on browser pag**e. Please refer below image for same.
![image](https://user-images.githubusercontent.com/25950095/127285078-8566d651-9e2b-4963-86c3-2fd55716f936.png)
**Please check what my console says.**
![image](https://user-images.

[2021-07-28 08:20] xavierfoucrier commented on #255
Hi @rajkanase,

Sorry but since `@mojs/core v1.0` has been released, we have dropped support for Internet Explorer.
The link to the NPM documentation you provide target version `0.288.2`, that was previously supported IE.

If you want to keep IE support in your application, we strongly recommend you to use `@mojs/core@0.288.2` instead of latest `v1.0`. You can find minified version here: https://u

[2021-07-28 08:20] #255 closed

[2021-07-28 10:02] rajkanase commented on #255
Hey @xavierfoucrier

Thanks a lot for quick reply. That's my mistake. I didn't compare versions. Let me try using old version, if it won't break anything I can continue with it.

[2021-07-29 21:41] #190 closed

[2021-08-23 11:30] Mertas opened #256 "then() method is firing error "TypeError: Cannot read property '4' of null""
Rect environment, this is a piece of my code. I cant make `then` to work. What am I doing wrong?
[code]

[2021-08-23 11:39] Sandstedt commented on #256
@Mertas I think you need to set an initial value for scale and opacity before you try to animate that value into the .then chain. Else mojs don't know what to animate from. Let me know if it helps.

[2021-08-23 12:23] Mertas commented on #256
No, unfortunately, id didn't, at least at first glance, getting the same error.

[code]

[2021-08-23 12:26] Mertas commented on #256
Oh, I've made a mistake in the last comment, but still, opacity in styles didn't help

[code]

[2021-08-23 13:33] Sandstedt commented on #256
@Mertas Can you make a Codesandbox or a Codepen with your problem? Tried putting your code here, and worked fine:

https://codesandbox.io/s/issues-256-gofsb?file=/src/MojsExample.js

[2021-08-23 14:44] Mertas commented on #256
I've made my React app not inside a <div id="root">, but directly inside <body id="root">
Fixed that, and everything started to work fine.

That is one hell of a side effect!

Thank you for the support!

[2021-08-23 14:49] Sandstedt commented on #256
That's.. weird. But great you found the sollution yourself.

You're welcome!

[2021-08-23 15:06] Mertas commented on #256
I've tried different mo.js versions, different React versions - nothing helped.
The logical error was in the function `_parseDeltaByGuess` - it was guessing the names of Tween props that were coming from `then` (el, opacity, x, etc) as numerical or color values. Something wrong is with object assigning or something as a guess :)

[2021-08-23 15:45] Sandstedt commented on #256
Hmm okey. Then it sound like something we could look into. I will reopen this and tag as bug.

[2021-09-08 06:24] rainydaycode opened #257 "可以为mojs添加一个removeShape的功能吗"
mojs.addShape( 'heart', Heart ); // passing name and Bubble class

我想 mojs.removeShape( 'heart' );

因为有的时候，添加的图形仅为了某一个模块使用，其他模块根本不会用到。我有一个比上面更好的提议是
(Because sometimes, the added graphics are only used by a certain module, and other modules are not used at all. I have a better proposal than the above)

class Heart extends mojs.CustomShape {} // 下面用到 (Used below)

const shape = new mojs.Shape({

  /

[2021-09-08 06:26] rainydaycode commented on #257
mojs.addShape() 这个方法很令我困惑，因为我感觉它污染了全局环境。还是那个原因，有的时候我自定义的图形，仅会在某一个模块里用到，我不想这个图形是全局的。 This confuses me because I feel that I pollute the outside world. The same reason is that there are my customized graphics, which will only be in a certain module. I don't want this graphics to be my own.

[2021-09-08 07:41] xavierfoucrier commented on #257
Hi @rainydaycode,

:warning: **You are on an open source community plateform**.

Please provide issue details and everything else **only in English**.
Without that, next issues will be closed the same way.

Thanks :+1:

[2021-09-08 07:41] #257 closed

[2021-09-08 12:06] rainydaycode commented on #257
@xavierfoucrier Hmm, I will revise it tomorrow. Well, if you can, please close my issue.

[2021-09-11 01:22] rainydaycode opened #258 "Add support for modular use of custom graphics"
Currently the only way to use custom graphics is to customize a graphics class and inherit the mojs.CustomShape class, and then add it to mojs using the mojs.addShape() method. Then you can set and use custom graphics in the shape attribute.

One disadvantage of this method is that the added custom graphics class is global, and sometimes the added custom graphics will only be used in a certain mod

[2021-09-11 16:31] Sandstedt commented on #258
You can always separate your custom class with a separate name, but I understand your point.

I guess the philosophy here is that mojs is a library, and that you can extend the library with your own shapes. It's not mean to be used as a way of animating a single SVG, rather create animated interactive illustrations build by different shapes. If you just want to animate a hamburger icon from an ope

[2021-09-13 22:55] xavierfoucrier commented on #258
Hi all,

From my point of view, that would be probably **a big changes in the code**, because the structure was not designed like this at the beginning...

As of today, you can do this very simply:
- extend the class: `class Bubble extends mojs.CustomShape { ... }`
- add the shape: `mojs.addShape('bubble', Bubble);`
- use the shape: `new mojs.Shape({ shape: 'bubble' });`

[2021-09-14 15:17] Sandstedt commented on #258
I guess the problem here was that the class Bubble is attached to the global namespace, so if you in another file, creates another Bubble class, this would override the previous one. But as I said before, this is easily solved by having a unique name. Or nest the extended class in a functional scope.

[2021-09-16 09:59] rainydaycode commented on #258
@Sandstedt @xavierfoucrier In fact, my idea is the same as ESM modularization, because the life cycle of global data is at the application level (GC is only performed after the application exits), so I think the more global data, the more it affects the performance of the application (consumption of more memory).

Therefore, I am more inclined to the idea of modularity, load when used, unload when

[2021-09-16 11:51] Armaldio opened #259 "Unable to import in "modules" mode"
Hello,

I'm starting with [vite](https://vitejs.dev/) but I'm unable to import `@mojs/core`
I investigate a bit and here's what I found:

Vite seems to look for the `package.json` `module` field, but after looking for it inside the `node_modules` folder, I can't find it
![image](https://user-images.githubusercontent.com/3089715/133607122-aa752306-c5e3-41f1-af33-f8c1c259c8a2.png)
![image](https://u

[2021-09-16 13:24] xavierfoucrier commented on #259
Hi @Armaldio,

Thanks for opening the issue.

As of today, there is no **ESM build** available inside the `dist` folder, **only UMD**.
This field is just here to "prepare" the next release, where we will provide an ESM version too.

I guess the only way to fix right now it to remove it.
Let me check and I get back to you as soon as possible.

Thanks! :wink:

[2021-09-28 07:36] deepalon opened #260 "The file imported by cdn reports an error(a native html page)"
Uncaught TypeError: Cannot read properties of null (reading 'appendChild'). Error in core:10.

[2021-09-28 07:36] #259 closed

[2021-09-28 07:38] xavierfoucrier commented on #260
Hi @deepalon,

Can you provide more informations?
How do you import the file, what's the context?

Without further informations it's almost, you guess, impossible to know what's going on.
Thanks! :wink:

[2021-09-28 08:33] xavierfoucrier commented on #259
Hi @Armaldio,

I just published a new version on NPM.
You should be able to use it and get no errors, let me know if it's not the case.

Happy coding with mojs! :tada:

[2021-10-04 15:10] Armaldio commented on #259
If works fine, many thanks!

[2021-10-15 16:05] gomesgeovane opened #261 "Como corrigir o erro/How to fix the error: Uncaught TypeError: Cannot read properties of null (reading 'appendChild')"
Como corrige esse erro?
How do you fix this error?

Uncaught TypeError: Cannot read properties of null (reading 'appendChild')
at adicionar (script.js:27)
at HTMLInputElement.onclick (modelo.html:18)

OBS: Sou novo nesse mundo de Programação.
NOTE: I'm new to this programming world.

function adicionar() {
    if(isNumero(num.value) && !inLista(num.value, valores)) { //!inLista significa que o val

[2021-10-16 13:23] xavierfoucrier commented on #261
Hi @,

This issue is more related to **how your code is running** than mojs issue...

For those kind of questions/help, please **use the Slack workspace** in order to ask the whole community for support. Join using the invite link here: https://github.com/mojs/mojs#developer.

[2021-10-16 13:23] #261 closed, assigned to xavierfoucrier

[2021-11-02 11:01] bUxEE opened #262 "Offset on click animations"
Hello,

I have tried using the same example for on click animation  which is present in the documentation but I am getting an offset on the burst position:

Here is a fiddle:
https://jsfiddle.net/au7t1nr3/2/

[2021-11-02 11:34] xavierfoucrier commented on #262
Hi @bUxEE,

This issue is more related to **how your code is running** than MoJS issue...

For those kind of questions/help, please **use the Slack workspace** in order to ask the whole community for support. Join using the invite link here: https://github.com/mojs/mojs#developer.

A short answer to this issue is that you need to set the `left` / `top` offsets to `0`, by default `Burst` offsets eq

[2021-11-02 11:34] #262 closed

[2021-11-02 11:47] bUxEE commented on #262
TY @xavierfoucrier,

quite dumb from my side, i tried to apply the position to the Shape object, missed those params for Burst.

Thanks

[2021-11-02 11:53] xavierfoucrier commented on #262
@bUxEE No problem! MoJS API is complex and can be hard to master at the beginning :wink:

[2021-11-10 20:34] NOPR9D commented on #109
@Sandstedt Also available for help, I would like to take advantage of the typing ^^

[2021-11-11 07:08] Sandstedt commented on #109
We will need to rewrite the entire mojs codebase, so it's a big task, and we haven't started with this yet, too little free time from our side. But we'll let you all know when that happens. Thanks for the interest!

[2021-11-29 01:07] wxmwxm2021 commented on #260
Hi, as me know, that's just because you import this mo.js at <head></head>,
just advise you to do like this: you can try to put the import in the body, for example:
<body>
<dv>【here is you html element】<div>
<script src="https://cdn.jsdelivr.net/npm/@mojs/core"></script>
<script type="text/javascript">
【here is you javascript code】
</script>
</body>

After mine observation, I have found out the ro

[2021-11-29 07:43] #260 closed

[2021-12-01 13:01] Aloento commented on #109
Everyone, please come on!

[2022-01-06 00:33] theproductiveprogrammer opened #263 "Frame-by-frame animation"
I'm using mojs to animate a little bottle jumping into a box that then closes. Getting the bottle to jump into the box worked great using property curves but once it's in I need to replace the open box with frames that animate the box "closing". When I try this, the animation flickers badly.

This is a sample of what I've tried:
[code]

What is a better way to do frame by frame animation here? Any

[2022-01-06 06:58] Sandstedt commented on #263
Hmm, i think you should be able to do that with a then chain and the onComplete callback. Will see if I can throw together an example.

https://mojs.github.io/api/modules/html/#full-api-reference

[2022-01-06 08:40] xavierfoucrier commented on #263
Hi all!

I agree with @Sandstedt, it's better to chain your animation and use the internal MoJS superpowers for that.

[2022-01-07 01:05] theproductiveprogrammer commented on #263
I couldn't figure out how to chain the animation using MoJS but I did find the problem and solution. The problem seems to be that `Shape.play()` has a small delay and that causes a "white flash" between the frames. MoJS provides a `isSoftHide` attribute that handles this issue. Setting:
[code]
in the `Shape`s allowed me to do this:
[code]
And the animation is now smooth!

[2022-01-07 01:05] #263 closed

[2022-01-07 22:12] Sandstedt commented on #263
Great you solved it @theproductiveprogrammer. Just a fast (not that beautiful) example what I meant with a then chain and also uses the timeline:
https://codepen.io/sandstedt/pen/oNGMJQp?editors=1111

But should of course not fade between the frames, but didn't have time to lab more with it for now. I guess yoy should use the `onStart` and `onRepeatComplete` callbacks. [Link to doc](https://mojs.g

[2022-01-07 22:20] xavierfoucrier commented on #263
Agree (still) with @Sandstedt, it's better to use MoJS internal chaining instead of timeout.
Good luck and happy coding with MoJS.

[2022-01-11 12:11] theproductiveprogrammer commented on #263
@Sandstedt that's a really cool animation! Thanks a lot for for the code snippet - it's interesting and I'll play around with it 👍

[2022-01-22 21:53] joekingTheThird3 opened #264 "tipo"
https://mojs.github.io/api/utils/stagger.html

not cunstructor!

[2022-01-29 23:54] kwhitejr commented on #190
Total tangent, but any idea why `.then()` blocks break in Jest? I get error such as

[code]

But the issue disappears if the `then` block is disabled (to the detriment of the visual, obviously :D ).

[2022-01-30 23:55] Sandstedt commented on #190
No idea 🤔, could you set a breakpoint and step through the Jest process and see where it breaks?

[2022-03-31 10:20] KunalTanwar commented on #144
duplicate #62

[2022-04-14 14:21] strukteon opened #265 "Independent delta not working in .then"
It seems like independent deltas don't work in `.then()` functions.

I am trying to create a jump animation using this code:

[code]

When adding any of the independent delta properties specified in https://mojs.github.io/api/modules/html/#independent-deltas, the `.then()` is ignored altogether.

Am I using it improperly or is there any fix for this?

[2022-04-15 08:51] Sandstedt commented on #265
@strukteon Could you create a Codepen for us to test? But I think the problem here is the 0. If I remember correctly, if the key is a zero or negative values, you need to define it as a string instead of a number.

So "0" : "100"

[2022-04-15 11:24] strukteon commented on #265
Weirdly enough, the value 0 works when not specifying any easing parameters. Also, some properties (like scale) can be used with a separate easing function.

Here's the codepen: https://codepen.io/strukteon-the-vuer/pen/jOYeBex

[2022-04-15 12:33] xavierfoucrier commented on #265
Hi @strukteon,

Good catch, I confirm it's a bug!

You can workaround using a "global" easing define at the root of `then`, like this:

[code]

[2022-04-15 12:41] strukteon commented on #265
@xavierfoucrier Alright, thanks! 😃

[2022-04-20 12:39] Miserlou opened #266 "Move Shape To Absolute Position"
Hey all! Excellent project, looking forward to getting a lot of mileage out of this.

I've got what I think is a fairly straightforward question, but I haven't been able to piece together all of the bits yet.

When a button is clicked, I want to spawn a Shape and animate its location to another element on the page. Imagine clicking 'delete' on something and a little animation of a paper ball movin

[2022-04-20 15:08] Miserlou opened #267 "Document How to Add `pointer-events: none` To Shape/Timeline"
Okay, I've got some nice Shapes in my app now! But, after they execute, they leave a 'dead-zone' on the interactive elements behind them. I'd like to be able to just set `pointer-events:none` on them, but MoJS elements don't have classes or ids, and setting `pointerEvents: 'none'` to the Shape creation doesn't seem to work as I expected it to. I can't see anything about pointer-events in the docum

[2022-04-20 15:14] xavierfoucrier commented on #266
Hi @Miserlou,

This issue is more related to **how your code is running** than MoJS issue...

For this kind of question/help, please **use the Slack workspace** in order to ask the whole community for support. Join using the invite link here: https://github.com/mojs/mojs#developer.

[2022-04-20 15:14] #266 closed

[2022-04-20 15:15] #267 closed

[2022-04-20 15:40] Miserlou commented on #267
This can be solved by applying setting `className: 'pointer-events-none'` to all of the bursts/shapes created (where `pointer-events-none` is defined by Tailwind CSS, but can be any class where `pointer-events: none`). Cheers!

[2022-08-23 11:49] Charlie-007-star commented on #118
is there any solution for that yet? I'm in 2022 !

[2022-08-23 17:51] Sandstedt commented on #118
@Charlie-007-star
If you are experience browser issue in Safari, please report them to the Safari Webkit crew. It has nothing to do with Mojs unfortunately. Thanks!

[2022-10-11 02:51] mengguagua opened #269 "Do you have a website for chinese"
If not, can I translate a Chinese website for Chinese people to learn? It won't infringe, will it?